---
import Layout from "@layouts/Layout.astro"
import DemosCard from "@components/demos/DemosCard.astro"

const demoData = [
	{
		title: "Hello, world!",
		description:
			"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta fuga, iusto libero excepturi neque dolorum et temporibus aspernatur quos odio?",
		date: "jul 5, 2024",
	},
	{
		title: "Hello, world!",
		description:
			"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta fuga, iusto libero excepturi neque dolorum et temporibus aspernatur quos odio?",
		date: "jul 5, 2024",
	},
	{
		title: "Hello, world!",
		description:
			"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta fuga, iusto libero excepturi neque dolorum et temporibus aspernatur quos odio? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta fuga, iusto libero excepturi neque dolorum et temporibus aspernatur quos odio?",
		date: "jul 5, 2024",
	},
	{
		title: "Hello, world!",
		description: "Lorem ipsum dolor, sit amet consectetur adipisicing elit",
		date: "jul 5, 2024",
	},
	{
		title: "Hello, world!",
		description:
			"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta fuga, iusto libero excepturi neque dolorum et temporibus aspernatur quos odio?",
		date: "jul 5, 2024",
	},
]
---

<Layout
	title="Mohammed's Blog | Demos"
	description="Mohammed's Personal Lab Explore Interactive Demos"
>
	<section id="demos">
		<div class="wrapper">
			<div class="demos-head">
				<h1 class="demos__title">🧪 Personal Laboratory</h1>
				<!-- <p class="demos__sub-title">
					🔬 Where code molecules collide, sparking creativity and
					innovation.
				</p> -->
				<p class="demos__sub-title">
					Explore this space, where my coding experiments come to
					life.
				</p>
			</div>

			<div class="demos-container">
				<ul class="demos__demos-list">
					{
						demoData.map((item) => (
							<DemosCard
								title={item.title}
								description={item.description}
								date={item.date}
							/>
						))
					}
				</ul>
			</div>
		</div>
	</section>
</Layout>

<style lang="scss">
	.demos-head {
		width: 100%;
		text-align: center;
		margin-bottom: 1.5rem;
		.demos__title {
			font-size: 1.875rem;
			line-height: 2.25rem;
			font-weight: 700;
			font-family: "8-bit_bold";
		}
		.demos__sub-title {
			margin-top: 0.75rem;
			color: var(--gray);
		}
	}

	.demos-container {
		margin-top: 2rem;
		.demos__demos-list {
			columns: 3;
			gap: 1rem;

			@media all and (max-width: 768px) {
				columns: 2;
			}

			@media all and (max-width: 480px) {
				columns: 1;
			}
		}
	}
</style>
