---
import LabLayout from "@layouts/LabLayout.astro"
import DemosCard from "@components/lab/DemosCard.astro"

import { getCollection } from "astro:content"

const demos = await getCollection("demos")
demos.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<LabLayout
	title="Mohammed's Blog | Project Demos"
	description="Explore demos of my latest projects and experiments."
>
	<!-- <section id="demos">
		<div class="wrapper">
			<div class="demos-head">
				<h1 class="demos__title">🧪 Personal Laboratory</h1>
				<p class="demos__sub-title">
					🔬 Where code molecules collide, sparking creativity and
					innovation.
				</p>
				<p class="demos__sub-title">
					Explore this space, where my coding experiments come to
					life.
				</p>
			</div>

			<div class="demos-container">
				<ul class="demos__demos-list">
					{demos.map((demo) => <DemosCard demo={demo} />)}
				</ul>
			</div>
		</div>
	</section> -->
</LabLayout>

<style lang="scss">
	.demos-head {
		width: 100%;
		text-align: center;
		margin-bottom: 1.5rem;
		.demos__title {
			font-size: 1.875rem;
			line-height: 2.25rem;
			font-weight: 700;
			font-family: "8-bit_bold";
		}
		.demos__sub-title {
			margin-top: 0.75rem;
			color: var(--gray);
		}
	}

	.demos-container {
		margin-top: 2rem;
		.demos__demos-list {
			columns: 3;
			gap: 1rem;

			@media all and (max-width: 768px) {
				columns: 2;
			}

			@media all and (max-width: 480px) {
				columns: 1;
			}
		}
	}
</style>
