---
import "@styles/player.scss"
import Controls from "./controls/Controls.astro"
import Settings from "./settings/Settings.astro"
import CaptionSettings from "./settings/CaptionSettings.astro"

// assets
import TestVideo from "../../../assets/test.mp4"
import EngSub from "../../../assets/test-sub-en.vtt"
import TRSub from "../../../assets/test-sub-tr.vtt"
---

<div class="container">
	<div
		id="videoPlayer"
		aria-paused="true"
		transition:name="media-player"
		transition:persist
	>
		<video preload="metadata" id="mainVideo">
			<source src={TestVideo} type="video/mp4" />
			<source src={TestVideo} type="video/mp4" />
			<track
				id="englishSub"
				label="English"
				kind="subtitles"
				srclang="en"
				src={EngSub}
			/>
			<track
				id="turkishSub"
				label="Turkish"
				kind="subtitles"
				srclang="tr"
				src={TRSub}
			/>
		</video>

		<div class="loading-spinner"></div>

		<p class="sub-text" aria-caption-active="true"></p>

		<Controls />

		<Settings />
	</div>
</div>

<style lang="scss">
	.container {
		margin-top: 30px;

		display: flex;
		align-items: center;
		justify-content: center;

		position: relative;
		width: 100%;
		height: 100%;
	}
</style>

<script src="../../../scripts/player.ts"></script>
