---
import { Book, Eye, GitFork, Star, ArrowUpRight } from "lucide-astro"
const { name, description, tags, source_code_link, image } = Astro.props
---

<div class="repo-card">
	<div class="repo-header">
		<Book size={12} class="icon" aria-hidden="true" />
		<span class="repo-name">{name}</span>
	</div>

	<div class="repo-content">
		<p class="repo-description">{description}</p>

		<hr class="hr-line" />

		<div class="repo-stats">
			<div class="stat-group">
				<div class="stat">
					<Star size={12} class="icon" />
					<span>8</span>
				</div>

				<div class="stat">
					<GitFork size={12} class="icon" />
					<span>0</span>
				</div>

				<div class="stat">
					<Eye size={12} class="icon" />
					<span>9</span>
				</div>
			</div>

			<div class="links">
				<a href="https://github.com/mhdzhhan"
					>Github <ArrowUpRight
						size={12}
						data-external-icon
						aria-hidden
					/></a
				>
				<a href="https://mohammedsh.xyz"
					>Site <ArrowUpRight
						size={12}
						data-external-icon
						aria-hidden
					/></a
				>
			</div>
		</div>
	</div>
</div>

<style>
	.repo-card {
		height: 100%;
		border: 1px solid var(--border-color);
		border-radius: 0.25rem;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}
	.repo-header {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		border-bottom: 1px solid var(--border-color);
		background-color: var(--secondary);
		padding: 0.25rem 0.5rem;
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
	}
	.icon {
		flex-shrink: 0;
		color: var(--gray);
	}
	.repo-content {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		padding: 0.75rem;
		color: var(--gray);
	}
	.repo-stats {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0.5rem;
		line-height: 1.6;
	}
	.stat-group {
		display: flex;
		align-items: center;
		gap: 0.75rem;
	}
	.stat {
		display: flex;
		align-items: center;
		gap: 0.25rem;
	}
	.links {
		display: flex;
		gap: 1rem;
	}
	a {
		color: var(--title);
		text-decoration: none;

		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 0.25rem;

		transition: all 0.2s ease-in;
		&:hover {
			color: var(--primary);
		}
	}
</style>
