<li class="demos-card">
    <a href="" class="demos__thumbnail" aria-label="Demo card">
        <img src="" alt="" />
    </a>

    <div class="demos__body">
        <h3 class="demos__title">The Hello World</h3>

        <div class="demos__tags">
            <small class="demos__tag">React js</small>
            <small class="demos__tag">Web</small>
            <small class="demos__tag">Node js</small>
            <small class="demos__tag">P2P</small>
        </div>

        <p class="demos__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, earum corrupti quo quis ad similique?
        </p>

        <div class="demos__links">
            <a href="" class="demos__link" aria-label="Demo link">Demo</a>
            <a href="" class="demos__link" aria-label="Source code link">Code</a>
            <a href="" class="demos__link" aria-label="Video link">Video</a>
        </div>
    </div>
</li>

<style lang="scss">
    .demos-card {
        .demos__thumbnail {

        }

        .demos__body {
            .demos__title {

            }

            .demos__tags {
                .demos__tag {

                }
            }

            .demos__description {

            }

            .demos__links {
                
            }
        }
    }
</style>
