---
import { getCollection, CollectionEntry } from 'astro:content'

// layout
import Layout from '../../layouts/Layout.astro'

// components
import BlogPostCard from '../../components/common/BlogPostCard.astro'
import Pagination from '../../components/common/Pagination.astro'
import SearchBox from '../../components/search/SearchBox.astro'

// utils
import { sortByDate, nonDraftPosts } from '../../utils'

export async function getStaticPaths({ paginate }) {
    const posts = await getCollection('blog')
    const nonDraftPosts_: CollectionEntry<"blog">[] = nonDraftPosts(posts)
    const sortedPosts = sortByDate(nonDraftPosts_)

    return paginate(sortedPosts, { pageSize: 6 })
}

const { page } = Astro.props
---

<Layout title="Mohammed's blog | blogs">
    <section id="blogs">
        <div class="wrapper">
            <div class="blogs-head">
                <h1 class="blogs-head__title">🧑‍🚀 Latest Blog Posts !</h1>
                <p class="blogs-head__sub-title">
                    Read the latest blog posts
                </p>

                <SearchBox />
            </div>

            <ul class="blog-posts">
                {page.data.map((post) => (
                    <BlogPostCard
                        {...post.data}
                        url={post.slug}
                    />
                ))}
            </ul>

            <div class="blogs-footer">
                <Pagination 
                    prevUrl={page.url.prev}
                    nextUrl={page.url.next}
                />
            </div>
        </div>
    </section>
</Layout>

<style lang="scss">
    .blogs-head {
        width: 100%;
        text-align: center;
        margin-bottom: 1.5rem;
        .blogs-head__title {
            font-size: 1.875rem;
            line-height: 2.25rem;
            font-weight: 700;
        }
        .blogs-head__sub-title {
            margin-top: .75rem;
            color: var(--gray);
        }
    }

    .blog-posts {
        // padding: 1.5rem 0;
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
        gap: 1.5rem;

        @media all and (max-width: 768px) {
            grid-template-columns: repeat(1,minmax(0,1fr));
        }
    }

    .blogs-footer {
        padding: 1.5rem 0;
    }
</style>