---
import "@styles/auth.scss"

import Layout from "@layouts/Layout.astro"
import AuthForm from "@components/form/AuthForm.astro"
---

<Layout title="Mohammed's blog | Login">
	<section id="authLogin">
		<div class="wrapper">
			<div class="auth-head">
				<h1 class="auth__title">🤝 Welcome back</h1>
			</div>

			<AuthForm type="Sign In" client:load />
		</div>
	</section>
</Layout>
