---
import "@styles/auth.scss";

import Layout from "@layouts/Layout.astro";
import AuthForm from "@components/form/AuthForm.astro";
---

<Layout title="Mohammed's blog | Login" description="🤩 Join us today">
  <section id="authSignup">
    <div class="wrapper">
      <div class="auth-head">
        <h1 class="auth__title">🤩 Join us today</h1>
      </div>

      <AuthForm type="Signup" />
    </div>
  </section>
</Layout>
