---
import Layout from "@layouts/Layout.astro"
---

<Layout title="Mohammed's blog | User Profile">
	<section id="userProfile">
		<div class="wrapper">
			<div class="profile-head">
				<h1 class="profile__title">Hay Liyana</h1>
			</div>

			<div class="profile-container">
				<h2>This page is under construction</h2>
			</div>
		</div>
	</section>
</Layout>
