---
export const prerender = false;

import Layout from "@layouts/Layout.astro";
import Button from "@components/widgets/Button.astro";
import InPageNav from "@components/widgets/InPageNav.astro";

const { user } = Astro.locals as {
  user: {
    fullName: string | null;
    email: string | null;
    photoURL: string | null;
  };
};
const profileBg = user?.photoURL;
---

<Layout title="Mohammed's blog | User Profile">
  <section id="userProfile">
    <div class="wrapper">
      <div class="profile-container">
        <div class="profile-details">
          <InPageNav routes={["Bookmarks", "Liked Posts", "Commented Posts"]}>
            <div class="profile-section">
              <ul class="profile__list">
                <li>Post Bookmarked 1</li>
                <li>Post Bookmarked 2</li>
                <li>Post Bookmarked 3</li>
              </ul>
            </div>

            <div class="profile-section">
              <ul class="profile__list">
                <li>Post Liked 1</li>
                <li>Post Liked 2</li>
                <li>Post Liked 3</li>
              </ul>
            </div>

            <div class="profile-section">
              <ul class="profile__list">
                <li>Post Commented 1</li>
                <li>Post Commented 2</li>
                <li>Post Commented 3</li>
              </ul>
            </div>
          </InPageNav>
        </div>

        <div class="profile-head">
          <div class="avatar" title="User Avatar"></div>
          <h1 class="profile__title">Hay {user?.fullName}</h1>
          <p class="profile__email">{user?.email}</p>

          <div class="profile-actions">
            <Button text="Unsubscribe from Newsletter" />
            <Button text="Logout" id="id_profileLogout" />
            <Button text="Delete Account" />
          </div>

          <div class="profile-replies">
            <h2>Comments Reply</h2>
            <ul class="profile__replies">
              <li>Reply message Hello Liyana Thank you for your comment 1</li>
              <li>Reply message Hello Liyana Thank you for your comment 2</li>
              <li>Reply message Hello Liyana Thank you for your comment 3</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style lang="scss" define:vars={{ profileBg }}>
  .profile-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2rem;

    @media (max-width: 768px) {
      flex-direction: column;
      flex-direction: column-reverse;
    }
  }

  .profile-head {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;

    border-left: 1px solid var(--border-color);

    @media (max-width: 768px) {
      border-left: 0;
    }

    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: var(--profileBg);
      background: linear-gradient(135deg, #ff7a18, #af002d 71%);
      margin: 0 auto;
    }

    .profile__title {
      font-size: 2rem;
      color: var(--title);
      margin: 1rem 0 0.5rem;
    }

    .profile__email {
      color: var(--gray);
      margin-bottom: 1rem;
    }

    .profile-actions {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    .profile-replies {
      margin-top: 2rem;
      width: 95%;
      text-align: left;
      h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
      .profile__replies {
        list-style: none;
        padding: 0;
        li {
          width: 100%;
          border: 1px solid var(--border-color);
          background-color: var(--secondary);
          border-radius: 0.5rem;
          margin-bottom: 0.5rem;
          padding: 0.75rem;
        }
      }
    }
  }

  .profile-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
    .profile-section {
      margin-bottom: 2rem;

      h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      .profile__list {
        list-style: none;
        padding: 0;

        li {
          background: var(--secondary);
          padding: 0.75rem;
          margin-bottom: 0.5rem;
          border-radius: 0.25rem;
        }
      }
    }
  }
</style>

<script>
  import { AccountLogout } from "@scripts/auth";
  const logoutBtn = document.querySelector(
    "#id_profileLogout",
  ) as HTMLLIElement;

  AccountLogout(logoutBtn);
</script>
