---
import ControlsLeft from "./ControlsLeft.astro";
import ControlsRight from "./ControlsRight.astro";
---

<div class="controls" aria-controls-active="true">
  <div class="progress-area">
    <div class="progressAreaSnapshot"></div>
    <div class="progressAreaTime"></div>

    <div class="progress-bar">
      <span></span>
    </div>
    <div class="buffered-progress-bar"></div>
  </div>

  <div class="controls-list">
    <ControlsLeft />
    <ControlsRight />
  </div>
</div>
