---
import {
  FastForward,
  Pause,
  Play,
  Rewind,
  Volume1,
  Volume2,
  VolumeX,
} from "lucide-astro";
---

<div class="controls-left">
  <span class="icon">
    <button class="fast-rewind">
      <Rewind size={24} />
    </button>
  </span>

  <span class="icon">
    <button class="play-pause">
      <Play size={24} class="play" />
      <Pause size={24} class="pause hidden" />
    </button>
  </span>

  <span class="icon">
    <button class="fast-forward">
      <FastForward size={24} />
    </button>
  </span>

  <span class="icon">
    <button class="volume" data-volume-level="high">
      <Volume2 size={24} class="high" />
      <VolumeX size={24} class="muted" />
      <Volume1 size={24} class="low" />
    </button>

    <input type="range" min="0" max="100" id="volumeRange" />
  </span>

  <div class="timer">
    <span class="current">0:00</span> / <span class="duration">0:00</span>
  </div>
</div>
