---
import {
	Maximize2,
	Minimize2,
	Pause,
	PictureInPicture2,
	Play,
	Settings,
} from "lucide-astro"
---

<div class="controls-right">
	<span class="icon">
		<button
			class="auto-play-toggle"
			title="Autoplay is off"
			aria-checked="false"
		>
			<span class="toggle-slide">
				<Pause size={14} class="pause-icon" />
				<Play size={14} class="play-icon" />
			</span>
		</button>
	</span>

	<span class="icon">
		<button class="settings-btn">
			<Settings size={22} />
		</button>
	</span>

	<span class="icon picture">
		<button class="picture-in-picture">
			<PictureInPicture2 size={24} />
		</button>
	</span>

	<span class="icon">
		<button class="full-screen" aria-maximized="false">
			<Maximize2 size={22} class="max-icon" />
			<Minimize2 size={22} class="min-icon" />
		</button>
	</span>
</div>

<style lang="scss">
	svg,
	button {
		user-select: none;
		-webkit-user-select: none;
		cursor: pointer;
		color: #fff;
	}

	.hidden {
		display: none;
	}

	button {
		border: 0;
		outline: 0;
		background: inherit;
		width: 100%;
		height: 100%;
		appearance: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.controls-right {
		display: flex;
		justify-content: center;
		align-items: center;

		.icon {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			text-align: center;

			margin-left: 8px;
			margin-right: 5px;

			@media (max-width: 400px) {
				margin-left: 5px;
				margin-right: 5px;
				font-size: 24px;
			}

			&.picture {
				@media (max-width: 400px) {
					display: none;
				}
			}
		}

		.full-screen {
			.max-icon {
				display: none;
			}
			&[aria-maximized="false"] {
				.max-icon {
					display: inline-block;
				}

				.min-icon {
					display: none;
				}
			}
		}

		// auto-play toggle button
		.auto-play-toggle {
			width: 28px;
			height: 14px;
			border-radius: 20px;
			position: relative;
			margin-right: 8px !important;
			background: #b6b6b6;
			// transition: background-color 0.3s ease;

			.toggle-slide {
				position: absolute;
				left: -4px;
				top: 50%;
				transform: translateY(-50%);
				width: 18px;
				height: 18px;
				background: #727272;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				transition: all 0.08s cubic-bezier(0.4, 0, 1, 1);

				.play-icon {
					display: none;
				}
			}

			&[aria-checked="true"] {
				.toggle-slide {
					left: 14px;
					.play-icon {
						display: inline-block;
					}

					.pause-icon {
						display: none;
					}
				}
			}
		}

		.settings-btn {
			transition: 0.3s;
			& .active {
				transform: rotate(45deg);
			}
		}
	}
</style>
