---
import ControlsLeft from "./ControlsLeft.astro"
import ControlsRight from "./ControlsRight.astro"
---

<div class="controls" aria-controls-active>
	<div class="progress-area">
		<div class="progress-bar">
			<span></span>
		</div>
	</div>

	<div class="controls-list">
		<ControlsLeft />
		<ControlsRight />
	</div>
</div>

<style lang="scss">
	.controls {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 3;
		height: auto;
		width: 100%;

		background: rgba(0, 0, 0, 0.459);
		box-shadow: 0 0 40px 10px rgba(0 0 0 / 25%);
		transform: translateY(180%);
		&[aria-controls-active] {
			transform: translateY(0);
		}
		.progress-area {
			width: 98%;
			height: 5px;
			margin-top: 10px;
			margin-bottom: 0;
			margin-left: auto;
			margin-right: auto;

			background: #33454f;
			cursor: pointer;
			.progress-bar {
				position: relative;
				width: 0;
				background-color: var(--primary);
				height: inherit;
				border-radius: inherit;
				cursor: pointer;
				&::before {
					content: "";
					position: absolute;
					// right: -5px;
					right: -7px;
					top: 50%;
					transform: translateY(-50%) scale(0);

					width: 13px;
					height: 13px;
					border-radius: 50%;
					background-color: var(--primary);
					transition: transform 0.1s cubic-bezier(0.4, 0, 1, 1);
				}
			}

			&:hover {
				.progress-bar::before {
					transform: translateY(-50%) scale(1);
					transition:
						transform 0.1s cubic-bezier(0, 0, 0.2, 1),
						-webkit-transform 0.1s cubic-bezier(0, 0, 0.2, 1);
				}
			}
		}

		.controls-list {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			width: 97%;
			padding: 10px 0;
			margin: 0 auto;
		}
	}
</style>
