.auth-head {
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
  .auth__title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    font-family: "8-bit_bold";
  }
}

.auth-container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  form {
    width: 80%;
    max-width: 400px;

    @media all and (max-width: 480px) {
      width: 100%;
      max-width: 100%;
    }
  }
}

.auth-btn {
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  font-size: 16px;
  text-transform: capitalize;
  color: var(--text);

  margin-left: auto;
  margin-right: auto;
  display: block;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.github-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 1rem;

  @media all and (max-width: 480px) {
    width: 100%;
  }
}

.separator-container {
  gap: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text);

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  margin: 2.5rem 0;
  hr {
    border: 1px solid var(--border-color);
    width: 50%;
  }
}

.auth-info {
  font-size: 16px;
  text-align: center;
  color: var(--text);
  margin-top: 1.5rem;
  a {
    margin-left: 0.25rem;
    font-size: 16px;
    text-decoration: underline;
    color: var(--gray);
  }
}
