// 8-bit-operator
@font-face {
	font-family: "8-bit_bold";
	src: url("/fonts/8-bit-operator/8bitoperatorplus-bold-webfont.woff2")
			format("woff2"),
		url("/fonts/8-bit-operator/8bitoperatorplus-bold-webfont.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "8-bit_regular";
	src: url("/fonts/8-bit-operator/8bitoperatorplus-regular-webfont.woff2")
			format("woff2"),
		url("/fonts/8-bit-operator/8bitoperatorplus-regular-webfont.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "liberation";
	src: url("/fonts/liberationmono-regular-webfont.woff2") format("woff2"),
		url("/fonts/liberationmono-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
