#videoPlayer {
  position: relative;
  width: 100%;
  height: 100%;

  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.24);

  svg,
  button {
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    color: #fff;
  }

  .hidden {
    display: none;
  }

  button {
    border: 0;
    outline: 0;
    background: inherit;
    width: 100%;
    height: 100%;
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #mainVideo {
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
  }

  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 4px solid var(--primary);
    border-bottom-color: transparent;
    z-index: 1;
    border-radius: 50%;
    animation: spinner 0.6s linear infinite;

    display: none;
  }
  @keyframes spinner {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .sub-text {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 90%;
    max-width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    user-select: none;
    transition: bottom 0.3s;
    &[aria-caption-active="true"] {
      bottom: 10%;
    }
  }

  // controls
  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    height: auto;
    width: 100%;
    padding: 10px 0;

    background: rgba(0, 0, 0, 0.459);
    box-shadow: 0 0 40px 10px rgba(0 0 0 / 25%);
    transform: translateY(180%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    transition: transform 0.5s ease;
    &[aria-controls-active] {
      transform: translateY(0);
    }
    .progress-area {
      position: relative;
      width: 98%;
      height: 5px;
      margin: 0 auto;

      background: #33454f;
      cursor: pointer;

      // .progressAreaSnapshot {
      // 	position: absolute;
      // 	bottom: 25px;
      // 	transform: translateX(-50%);
      // 	width: 165px;
      // 	height: 90px;
      // 	background: #fff;
      // 	border: 2px solid #fff;
      // 	border-radius: 3px;
      // 	display: none;
      // }

      // .progressAreaTime {
      // 	position: absolute;
      // 	bottom: 25px;
      // 	left: var(--x);
      // 	padding: 4px 8px;
      // 	color: #fff;
      // 	font-size: 14px;
      // 	background: #000;
      // 	border-radius: 5px;
      // 	z-index: 1;
      // 	display: none;
      // }

      .progressAreaTime,
      .progressAreaSnapshot {
        position: absolute;
        bottom: 100%;
        transform: translateX(-50%);
        pointer-events: none;
      }

      .progressAreaTime {
        bottom: 25px;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 2px 5px;
        border-radius: 3px;
        font-size: 12px;

        display: none;
      }

      .progressAreaSnapshot {
        width: 165px;
        height: 90px;
        background: #fff;
        border: 2px solid #fff;
        border-radius: 3px;
        bottom: calc(100% + 10px);

        display: none;
      }

      .progress-bar {
        position: relative;
        width: 0;
        background-color: var(--primary);
        height: inherit;
        border-radius: inherit;
        cursor: pointer;
        z-index: 2;
        &::before {
          content: "";
          position: absolute;
          // right: -5px;
          right: -7px;
          top: 50%;
          transform: translateY(-50%) scale(0);

          width: 13px;
          height: 13px;
          border-radius: 50%;
          background-color: var(--primary);
          transition: transform 0.1s cubic-bezier(0.4, 0, 1, 1);
        }
      }

      .buffered-progress-bar {
        position: absolute;
        top: 0;
        width: 0;
        background-color: #a6a8a9;
        height: inherit;
        border-radius: inherit;
        cursor: pointer;
        z-index: 1;
      }

      &:hover {
        .progress-bar::before {
          transform: translateY(-50%) scale(1);
          transition:
            transform 0.1s cubic-bezier(0, 0, 0.2, 1),
            -webkit-transform 0.1s cubic-bezier(0, 0, 0.2, 1);
        }
      }
    }

    .controls-list {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 97%;

      // left controls
      .controls-left {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          margin-left: 8px;
          margin-right: 5px;

          @media (max-width: 400px) {
            margin-left: 5px;
            margin-right: 5px;
            font-size: 24px;
          }

          .fast-rewind:active {
            transition: all 0.2s ease;
            transform: scale(1.2);
            opacity: 0.7;
            color: #333;
          }
          .fast-forward:active {
            transition: all 0.2s ease;
            transform: scale(1.2);
            opacity: 0.7;
            color: #333;
          }

          .volume {
            .high,
            .low,
            .muted {
              display: none;
            }

            &[data-volume-level="high"] .high {
              display: block;
            }

            &[data-volume-level="low"] .low {
              display: block;
            }

            &[data-volume-level="muted"] .muted {
              display: block;
            }
          }

          #volumeRange {
            -webkit-appearance: none;
            appearance: none;
            outline: none;
            border: none;

            height: 3px;
            width: 0;
            margin-left: 5px;
            background: #fff;
            color: #fff;
            transition: 0.4s;

            @media (max-width: 522px) {
              display: none;
            }

            &::-webkit-slider-thumb {
              -webkit-appearance: none;
              appearance: none;
              border: none;
              outline: none;

              width: 12px;
              height: 12px;
              border-radius: 50%;
              background: #fff;
              color: #fff;

              transition: 0.3s;
              opacity: 0;
              cursor: pointer;
            }
            &::-moz-range-thumb {
              -moz-appearance: none;
              appearance: none;
              border: none;
              outline: none;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background: #fff;
              color: #fff;
              transition: 0.3s;
              opacity: 0;
              cursor: pointer;
            }
            &::-moz-thumb {
              -moz-appearance: none;
              appearance: none;
              border: none;
              outline: none;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background: #fff;
              color: #fff;
              transition: 0.3s;
              opacity: 0;
              cursor: pointer;
            }
          }
        }

        .icon:hover #volumeRange {
          display: inline-block;
          width: 60px;

          @media (max-width: 522px) {
            display: none;
          }
        }

        .icon:hover #volumeRange::-webkit-slider-thumb {
          opacity: 1;
          pointer-events: auto;
          transition: 0.5s;
        }

        .icon:hover #volumeRange::-moz-range-thumb {
          opacity: 1;
          pointer-events: auto;
          transition: 0.5s;
        }

        .icon:hover #volumeRange::-ms-thumb {
          opacity: 1;
          pointer-events: auto;
          transition: 0.5s;
        }

        .timer {
          display: inline-block;
          margin-left: 5px;
          font-size: 14px;
          text-align: center;
          white-space: nowrap;
          color: #fff;
        }
      }

      // controls right
      .controls-right {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          margin-left: 8px;
          margin-right: 5px;

          @media (max-width: 400px) {
            margin-left: 5px;
            margin-right: 5px;
            font-size: 24px;
          }

          &.picture {
            @media (max-width: 400px) {
              display: none;
            }
          }
        }

        .full-screen {
          .max-icon {
            display: none;
          }
          &[aria-maximized="false"] {
            .max-icon {
              display: inline-block;
            }

            .min-icon {
              display: none;
            }
          }
        }

        // auto-play toggle button
        .auto-play-toggle {
          width: 28px;
          height: 14px;
          border-radius: 20px;
          position: relative;
          margin-right: 8px !important;
          background: #b6b6b6;
          // transition: background-color 0.3s ease;

          @media all and (max-width: 522px) {
            display: none;
          }

          .toggle-slide {
            position: absolute;
            left: -4px;
            top: 50%;
            transform: translateY(-50%);
            width: 18px;
            height: 18px;
            background: #727272;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.08s cubic-bezier(0.4, 0, 1, 1);

            .play-icon {
              display: none;
            }
          }

          &[aria-checked="true"] {
            .toggle-slide {
              left: 14px;
              .play-icon {
                display: inline-block;
              }

              .pause-icon {
                display: none;
              }
            }
          }
        }

        .settings-btn {
          transition: 0.3s;
          &[aria-settings-opened="true"] {
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  // settings
  #settings {
    display: none;
    position: absolute;
    bottom: 62px; // .controls hight + 12
    right: 25px;
    background: rgba(28, 28, 28, 0.916);
    width: 200px;
    max-height: 250px;
    height: auto;
    overflow-y: auto;
    color: #fff;
    border-radius: 8px;

    z-index: 5;

    &[aria-settings-opened="true"] {
      display: block;
    }

    &::-webkit-scrollbar {
      width: 4px;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      height: 20px;
      border: 2px solid transparent;
      background: rgba(83, 83, 83, 0.9);
      border-radius: 20px;
    }

    .index {
      ul {
        li {
          width: 100%;
          cursor: pointer;
          padding: 12px 20px;
          display: block;
          font-size: 14px;
          font-weight: 500;

          display: flex;
          align-items: center;
          justify-content: space-between;
          &:hover {
            background: rgba(28, 28, 28, 0.9);
          }

          svg {
            font-size: 16px;
            font-weight: 700;
            color: #fff;
          }
        }
      }
    }

    // playback settings
    .playback,
    .quality,
    .captions {
      .settings-head {
        padding: 12px 20px;
        border-bottom: 1px solid rgb(83, 83, 83);

        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          font-size: 14px;
          font-weight: 500;

          display: block;
          pointer-events: none;
        }

        svg {
          font-size: 16px;
          font-weight: 700;
          color: #fff;
        }
      }

      ul {
        position: relative;
        li {
          position: relative;
          width: 100%;
          cursor: pointer;
          padding: 12px 33px;
          display: block;
          font-size: 14px;
          text-align: left;

          display: flex;
          align-items: center;
          &:hover {
            background: rgba(28, 28, 28, 0.9);
          }
          &[data-active="true"]::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20 6L9 17L4 12'/%3E%3C/svg%3E");
            position: absolute;
            left: 7px;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
            // padding-right: 10px;
            font-size: 18px;
          }
        }
      }
    }
  }
}
