---
import { ChevronLeft } from "lucide-astro";
---

<div class="captions" aria-label="captionSettings" hidden>
  <div class="settings-head">
    <ChevronLeft />
    <span>Select Subtitle</span>
  </div>

  <ul class="captionList">
    <li data-active="true">OFF</li>
    <li>English</li>
    <li>Turkish</li>
  </ul>
</div>
