---
import { ChevronLeft } from "lucide-astro";
---

<div class="playback" aria-label="playbackSettings" hidden>
  <div class="settings-head">
    <ChevronLeft />
    <span>Playback Speed</span>
  </div>
  <ul>
    <li data-speed="0.25">0.25</li>
    <li data-speed="0.5">0.5</li>
    <li data-speed="0.75">0.75</li>
    <li data-speed="1" data-active="true">Normal</li>
    <li data-speed="1.25">1.25</li>
    <li data-speed="1.5">1.5</li>
    <li data-speed="1.75">1.75</li>
    <li data-speed="2">2</li>
  </ul>
</div>
