<div class="playback">
	<span>Playback Speed</span>
	<ul>
		<li data-speed="0.25">0.25</li>
		<li data-speed="0.5">0.5</li>
		<li data-speed="0.75">0.75</li>
		<li data-speed="1" active-speed="true">Normal</li>
		<li data-speed="1.25">1.25</li>
		<li data-speed="1.5">1.5</li>
		<li data-speed="1.75">1.75</li>
		<li data-speed="2">2</li>
	</ul>
</div>
