---
import { ChevronLeft } from "lucide-astro";
---

<div class="quality" aria-label="qualitySettings" hidden>
  <div class="settings-head">
    <ChevronLeft />
    <span>Quality</span>
  </div>
  <ul>
    <li data-quality="0.25">1080p</li>
    <li data-quality="0.5">720p</li>
    <li data-quality="0.75">480px</li>
    <li data-quality="1" data-active="true">Auto</li>
  </ul>
</div>
