---
import { ChevronRight } from "lucide-astro";
import PlaybackSettings from "./PlaybackSettings.astro";
import QualitySettings from "./QualitySettings.astro";
import CaptionSettings from "./CaptionSettings.astro";
---

<div id="settings">
  <div aria-label="index" class="index">
    <ul>
      <li aria-label="captionSettings">
        Caption
        <ChevronRight />
      </li>

      <li aria-label="playbackSettings">
        Playback Speed
        <ChevronRight />
      </li>

      <li aria-label="qualitySettings">
        Quality
        <ChevronRight />
      </li>
    </ul>
  </div>

  <PlaybackSettings />
  <QualitySettings />
  <CaptionSettings />
</div>
