---
import PlaybackSettings from "./PlaybackSettings.astro"
---

<div id="settings">
	<PlaybackSettings />
</div>

<style lang="scss">
	#settings {
		display: none;
		position: absolute;
		bottom: 62px; // .controls hight + 12
		right: 25px;
		background: rgb(28 28 28 / 90%);
		width: 200px;
		height: 250px;
		overflow-y: scroll;
		color: #fff;

		z-index: 5;

		&::-webkit-scrollbar {
			width: 4px;
			background: transparent;
		}
		&::-webkit-scrollbar-thumb {
			height: 20px;
			border: 2px solid transparent;
			background: rgba(83, 83, 83, 0.9);
			border-radius: 20px;
		}
	}
</style>
