---
import { getCollection } from "astro:content"

// layout
import Layout from "../../layouts/Layout.astro"

import PostCard from "../../components/blog/PostCard.astro"

export async function getStaticPaths() {
	const allPosts = await getCollection("blog")

	const uniqueTags = [
		...new Set(allPosts.map((post) => post.data.tags).flat()),
	]

	return uniqueTags.map((tag) => {
		const filteredPosts = allPosts.filter((post) =>
			post.data.tags.includes(tag)
		)

		return {
			params: { tag },
			props: { posts: filteredPosts },
		}
	})
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<Layout title="hello">
	<section id="posts">
		<div class="wrapper">
			<div class="posts-head">
				<h3 class={`section-title ${tag}`}>
					All '{tag}' related posts
				</h3>
			</div>

			<ul class="posts-container">
				{
					posts.map((post) => (
						<PostCard {...post.data} url={post.slug} post={post} />
					))
				}
			</ul>
		</div>
	</section>
</Layout>

<style lang="scss">
	.posts-head {
		width: 100%;
		text-align: center;
		margin-bottom: 2rem;
		h3 {
			text-transform: capitalize;
		}
	}

	.posts-container {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 1.5rem;

		@media all and (max-width: 768px) {
			grid-template-columns: repeat(1, minmax(0, 1fr));
		}
	}
</style>
