---
import Layout from "../../layouts/Layout.astro";

const posts = await Astro.glob("../posts/*.md");
const tags = [...new Set(posts.map((post) => post.frontmatter.tags).flat())];
---

<Layout title="Mohammed's blog | Tags">
    <section id="tags">
        <div class="wrapper">
            <div class="tags-head">
                <h1 class="blogs-head__title">All available tags</h1>
            </div>

            <div class="tags-container">
                <ul class="tags-container__tags">
                    {tags.map((tag) => (
                        <li class={`tags-container__tags__tag ${tag}`}>
                            <a href={`/tags/${tag}`}>#{tag}</a>
                        </li>
                    ))}
                </ul>
            </div>
        </div>
    </section>
</Layout>

<style lang="scss">
    .tags-head {
        width: 100%;
        text-align: center;
        margin-bottom: 1.5rem;
        .tags-head__title {
            font-size: 1.875rem;
            line-height: 2.25rem;
            font-weight: 700;
        }
    }

    .tags-container {
        .tags-container__tags {
            display: flex;
            flex-wrap: wrap;
            gap: .5rem;
            margin-left: .75rem;
            .tags-container__tags__tag {
                padding: .25rem .5rem;
                border-radius: .375rem;
                background-color: aqua;
                color: #000;
                a {
                    display: block;
                    font-weight: 600;
                    font-size: .75rem;
                    line-height: 1rem;
                    text-transform: capitalize;
                    color: inherit;
                }
            }
        }
    }
</style>
