---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Mohammed's blog | Page Not Found">
    <section id="about">
        <div class="wrapper">
            <div class="page-not-found-container">
                <h1>404</h1>
                <h2>Page Not Found Go Back to <a href="/">Home</a></h2>
            </div>
        </div>
    </section>
</Layout>

<style lang="scss">
    .wrapper {
        height: 100%;
    }
    .page-not-found-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-weight: 700;
            font-size: 3rem;
            color: var(--title-text);

            @media all and (max-width: 640px) {
                font-size: 2rem;
            }
        }

        h2 {
            font-weight: 500;
            font-size: 1.875rem;
            color: var(--title-text);
            a {
                color: rgb(12,181,181);
            }
        }
    }
</style>