---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Mohammed's blog | Page Not Found">
	<section id="fourNotFour">
		<div class="wrapper">
			<div class="fourNotFour__container">
				<h1>404</h1>
				<p>Page Not Found</p>
				<a href="/">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						stroke-width="2"
						width="16"
						height="16"
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						fill="none"
						viewBox="0 0 24 24"
						aria-hidden="true"
					>
						<path d="m12 19-7-7 7-7"></path>
						<path d="M19 12H5"></path>
					</svg>
					Go Back Home
				</a>
			</div>
		</div>
	</section>
</Layout>

<style lang="scss">
	.wrapper {
		height: 100%;
	}
	.fourNotFour__container {
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h1 {
			font-size: 123px;
			letter-spacing: .1em;
			line-height: 1;
			text-align: center;
			@media all and (max-width: 640px) {
				font-size: 3rem;
			}
		}

		p {
			font-size: 28px;
			line-height: 1.2;
			text-align: center;
		}

		a {
			display: flex;
			align-items: center;
			gap: .75rem;
			margin-top: 20px;
			color: inherit;
			text-align: center;
			&:hover {
				color: var(--title);
			}
		}
	}
</style>
