---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Mohammed's blog | Donate">
    <section id="donate">
        <div class="wrapper">
            <div class="donate-head">
                <h1 class="donate__title">💰 Donate</h1>
            </div>

            <div class="donate-container">
                <p>
                    To keep my site and projects up and running, there are costs. As a full-time college student, 
                    I work on projects in my free time. 
                </p>
                <p>
                    So, please consider a donation for my future projects and the maintenance of all my sites & projects. 
                </p>
                <p>
                    If you would like to mention your website or a message to display on 
                    this page,please send them to me after donation. Every donation will be publicly mentioned here, if you’d like not to, please do contact after. 
                </p>
            </div>

            <div class="donate-instructions">
                <h3>How to donate</h3>
                <p>
                    Thank you for considering a donation! Your support means a lot to me and helps me continue my work in the tech world.
                </p>
                <p>
                    You can donate via one of the following methods:
                </p>

                <ol>
                    <li><span class="label">UPI:</span> You can send Indian UPI payments to
                        <span>
                            hello.mohammedsh@ybl
                        </span>
                        (no transaction fees).
                    </li>

                    <li><span class="label">PayPal:</span> You can send PayPal payments to
                        <a href="https://paypal.me/mhdZhHan?country.x=IN&locale.x=en_GB">
                            paypal@mhdZhHan
                        </a>
                    </li>

                    <li>
                        <a href="https://www.buymeacoffee.com/mohammedsh" target="_blank">
                            <img 
                                src="https://cdn.buymeacoffee.com/buttons/v2/default-red.png" 
                                alt="Buy Me A Coffee" 
                                style="height: 60px !important;width: 217px !important;" 
                            />
                        </a>
                    </li>
                    
                    <!-- <li>Bitcoin: [Bitcoin wallet address]</li>
                    <li>Ethereum: [Ethereum wallet address]</li> -->
                </ol>

                <p>Your contribution is greatly appreciated! 😊</p>
            </div>
        </div>
    </section>
</Layout>

<style lang="scss">
    .donate-head {
        width: 100%;
        text-align: center;
        margin-bottom: 1.5rem;
        .donate__title {
            font-size: 1.875rem;
            line-height: 2.25rem;
            font-weight: 700;
            // color: var(--title);
            font-family: "8-bit_bold";
        }
    }

    .donate-container, .donate-instructions {
        h3 {
            margin-top: .75rem;
            margin-bottom: 1.7rem;
            // font-size: 1.5rem;
            color: var(--title);
        }

        p {
            margin-bottom: 1.5rem;
            // font-size: 1.25rem;
        }

        ol {
            li {
                margin-bottom: 1rem;
                .label {
                    color: var(--title);
                    font-weight: 600;
                    font-size: 1rem;
                }
                span {
                    color: var(--primary);
                }
            }
        }
    }
</style>