---
import Layout from '../layouts/Layout.astro'
import ProjectCard from '../components/projects/ProjectCard.astro'

import projects from '../data/projects.json'
---

<Layout title="Mohammed's Blog | Projects">
    <section id="projects">
        <div class="wrapper">
            <div class="projects-head">
                <h1 class="projects-head__title">💻 Projects !</h1>
            </div>

            <div class="projects-container">
                <ul class="projects-container__projects">
                    {projects.map((project) => (
                        <ProjectCard 
                            {...project}
                        />
                    ))}
                </ul>
            </div>
        </div>
    </section>
</Layout>

<style lang="scss">
    .projects-head {
        width: 100%;
        text-align: center;
        margin-bottom: 1.5rem;
        .projects-head__title {
            font-size: 1.875rem;
            line-height: 2.25rem;
            font-weight: 700;
        }
    }

    .projects-container {
        margin-top: 2rem;
        .projects-container__projects {
            display: grid;
            grid-template-columns: repeat(3,minmax(0,1fr));
            gap: 1rem;

            @media all and (max-width: 768px){
                grid-template-columns: repeat(2,minmax(0,1fr));
            }

            @media all and (max-width: 640px) {
                grid-template-columns: repeat(1,minmax(0,1fr));
            }
        }
    }
</style>