---
import Layout from "@layouts/Layout.astro"
import DemosCard from "@components/demos/DemosCard.astro"
---

<Layout
	title="Mohammed's Blog | Demos"
	description="Mohammed's Personal Lab Explore Interactive Demos"
>
	<section id="demos">
		<div class="wrapper">
			<div class="demos-head">
				<h1 class="demos__title">🧪 Personal Laboratory</h1>
				<!-- <p class="demos__sub-title">
					🔬 Where code molecules collide, sparking creativity and
					innovation.
				</p> -->
				<p class="demos__sub-title">
					Explore this space, where my coding experiments come to
					life.
				</p>
			</div>

			<div class="demos-container">
				<ul class="demos__demos-list">
					<!-- <DemosCard /> -->
				</ul>
			</div>
		</div>
	</section>
</Layout>

<style lang="scss">
	.demos-head {
		width: 100%;
		text-align: center;
		margin-bottom: 1.5rem;
		.demos__title {
			font-size: 1.875rem;
			line-height: 2.25rem;
			font-weight: 700;
			font-family: "8-bit_bold";
		}
		.demos__sub-title {
			margin-top: 0.75rem;
			color: var(--gray);
		}
	}

	.demos-container {
		margin-top: 2rem;
		.demos__demos-list {

		}
	}
</style>
