---
import { Image } from "astro:assets";
import { Twitter, Github, Linkedin, Instagram } from "lucide-astro";

// assets
import AvatarImg from "../../assets/avatar.svg";
---

<section id="hero">
  <div class="wrapper">
    <div class="hero-container">
      <div class="hero__left">
        <h1 class="section-title">
          Hi there, I'm <span>Mohammed</span> 👋
        </h1>
        <p>
          A 21st-century tech-savvy, Mostly hacks on FOSS enthusiast, GNU/Linux
          user, blogger, and skilled programmer! Constantly pushing the
          boundaries of coding, embracing challenges, and contributing to the
          open-source community.
        </p>

        <ul class="hero__social-medias">
          <li>
            <a
              href="https://twitter.com/mhdZhHan"
              target="_blank"
              aria-label="Follow me on Twitter"
            >
              <Twitter class="shrink-0" size={30} aria-hidden />
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/mohammedshajahan/"
              target="_blank"
              aria-label="Follow me on Linkedin"
            >
              <Linkedin class="shrink-0" size={30} aria-hidden />
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/mhdZhHan/"
              target="_blank"
              aria-label="Follow me on Instagram"
            >
              <Instagram class="shrink-0" size={30} aria-hidden />
            </a>
          </li>
          <li>
            <a
              href="https://github.com/mhdZhHan"
              target="_blank"
              aria-label="Follow me on Github"
            >
              <Github class="shrink-0" size={30} aria-hidden />
            </a>
          </li>
        </ul>
      </div>

      <div class="hero__right">
        <!-- <img src="/images/avatar.svg" alt="avatar" loading="lazy" /> -->
        <Image src={AvatarImg} alt="avatar" />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 6rem;
    font-family: "8-bit_bold";
    @media all and (max-width: 768px) {
      flex-direction: column;
      justify-content: initial;
      column-gap: normal;
    }
    .hero__left {
      h1 {
        span {
          color: transparent;
          background: var(--text-gradient);
          -webkit-background-clip: text;
          background-clip: text;
        }
      }
      p {
        line-height: 2.25rem;
        font-size: 1.25rem;
        margin-top: 1.5rem;
        font-family: "8-bit_regular";
      }
      .hero__social-medias {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        li a {
          display: block;
          transition: all 0.3s;
          color: var(--primary);
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    .hero__right {
      flex-shrink: 0;
      img {
        display: block;
        width: 16rem;
        height: 20rem;
      }
    }
  }
</style>
