---
import BlogPostCard from "../common/BlogPostCard.astro";
---
<section id="posts">
    <div class="wrapper">
        <div class="posts-head">
            <h3 class="section-sub-title">
                Recent <span>Posts</span>
            </h3>

            <div class="view-all">
                <a href="#">View all Posts →</a>
            </div>
        </div>

        <ul class="posts-container">
            <BlogPostCard />
            <BlogPostCard />
            <BlogPostCard />
        </ul>
    </div>
</section>

<style lang="scss">
    .posts-head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .view-all {
            font-size: .875rem;
            line-height: 1.25rem;
            a {
                transition: all .2s ease-in;
                display: block;
                font-size: inherit;
                color: inherit;
                font-weight: 700;
                font-size: 1rem;

                &:hover {
                    color: var(--tertiary);
                }
            }
        }
    }

    .posts-container {
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
        gap: 1.5rem;

        @media all and (max-width: 768px) {
            grid-template-columns: repeat(1,minmax(0,1fr));
        }
    }
</style>
