---
import BlogPostCard from "../common/BlogPostCard.astro"
import HeadTitle from '../common/HeadTitle.astro'

const { posts } = Astro.props
---
<section id="posts">
    <div class="wrapper">
        <HeadTitle t1="Recent" t2="Posts" url="/blogs" />

        <ul class="posts-container">
            {
                posts.map((post) => (
                    <BlogPostCard 
                        {...post.frontmatter}
                        url={post.url}
                    />
                ))
            }
        </ul>
    </div>
</section>

<style lang="scss">
    .posts-container {
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
        gap: 1.5rem;

        @media all and (max-width: 768px) {
            grid-template-columns: repeat(1,minmax(0,1fr));
        }
    }
</style>
