<section id="posts">
    <div class="wrapper">
        <div class="posts-head">
            <h3 class="section-sub-title">
                Recent <span>Posts</span>
            </h3>

            <div class="view-all">
                <a href="#">View all Posts →</a>
            </div>
        </div>

        <ul class="posts-container">
            <li class="posts-container__post">
                <a href="#">
                    <div class="posts-container__post__thumbnail-container">
                        <img src="/images/image-post.jpeg" alt="" />
                    </div>

                    <div class="posts-container__post__body">
                        <h2 class="title">Hello world post1</h2>
                        <span class="date">Feb 6, 2020</span>
                        <p class="body-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tenetur vero esse non molestias eos excepturi.
                        </p>
                    </div>
                </a>
            </li>

            <li class="posts-container__post">
                <a href="#">
                    <div class="posts-container__post__thumbnail-container">
                        <img src="/images/image-post2.jpeg" alt="" />
                    </div>

                    <div class="posts-container__post__body">
                        <h2 class="title">Hello world post1</h2>
                        <span class="date">Feb 6, 2020</span>
                        <p class="body-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tenetur vero esse non molestias eos excepturi.
                        </p>
                    </div>
                </a>
            </li>

            <li class="posts-container__post">
                <a href="#">
                    <div class="posts-container__post__thumbnail-container">
                        <img src="/images/image-post3.jpeg" alt="" />
                    </div>

                    <div class="posts-container__post__body">
                        <h2 class="title">Hello world post1</h2>
                        <span class="date">Feb 6, 2020</span>
                        <p class="body-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tenetur vero esse non molestias eos excepturi.
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>

<style lang="scss">
    .posts-head {
        display: flex;
        justify-content: space-between;
        h3 {
            span {
                color: transparent;
                background: var(--text-gradient);
                -webkit-background-clip: text;
                background-clip: text;
            }
        }

        .view-all {
            font-size: .875rem;
            line-height: 1.25rem;
            a {
                display: block;
                font-size: inherit;
                color: inherit;
                font-weight: 600;
            }
        }
    }

    .posts-container {
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
        gap: 1.5rem;

        @media all and (max-width: 768px) {
            grid-template-columns: repeat(1,minmax(0,1fr));
        }
        .posts-container__post {
            a {
                display: block;
                color: inherit;
                text-decoration: inherit;
                background-color: var(--secondary);
                border-radius: .375rem;
                overflow: hidden;
                .posts-container__post__thumbnail-container {
                    position: relative;
                    padding-bottom: calc(2 / 3 * 100%);
                    img {
                        display: block;
                        object-fit: cover;
                        width: 100%;
                        height: 100%;

                        position: absolute;
                        inset: 0;
                    }
                }

                .posts-container__post__body {
                    text-align: center;
                    padding-bottom: 1.5rem;
                    padding-top: 1rem;
                    padding-left: .75rem;
                    padding-right: .75rem;
                    .title {
                        font-weight: 600;
                        font-size: 1.25rem;
                        line-height: 1.75rem;
                    }
                    .date {
                        display: block;
                        font-size: .75rem;
                        line-height: 1rem;
                        color: var(--gray);
                    }
                    .body-text {
                        font-size: .875rem;
                        line-height: 1.25rem;
                        margin-top: .5rem;
                    }
                }
            }
        }
    }
</style>
