---
import ProjectCard from '../projects/ProjectCard.astro'
import HeadTitle from '../common/HeadTitle.astro'
---

<section id="projects">
    <div class="wrapper">
        <HeadTitle t1="Recent" t2="Projects" url="/projects" />
        <ul class="projects-container">
            <ProjectCard />
            <ProjectCard />
            <ProjectCard />
        </ul>
    </div>
</section>

<style lang="scss">
    .projects-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
</style>
