---
import ProjectCard from '../projects/ProjectCardHome.astro'
import HeadTitle from '../common/HeadTitle.astro'

import projects from '../../data/projects.json'
---

<section id="projects">
    <div class="wrapper">
        <HeadTitle t1="Recent" t2="Projects" url="/projects" />
        <ul class="projects-container">
            {projects.map((project) => (
                <ProjectCard 
                    {...project}
                />
            ))}
        </ul>
    </div>
</section>

<style lang="scss">
    .projects-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
</style>
