---
const { tags } = Astro.props;
---

<ul data-post-filter-tags class="search-box__filter">
  {
    tags.map((tag) => (
      <li>
        <label>
          <input aria-label={`${tag} Filter`} value={tag} type="checkbox" />
          <div class="value">{tag}</div>
        </label>
      </li>
    ))
  }
  <li><a href="/tags">Explore All Tags</a></li>
</ul>
