---
import "../../styles/search-box.scss"
import CommandKey from "./CommandKey.astro"
import Filter from "./Filter.astro"

import { Search } from "lucide-astro"

const { tags } = Astro.props
---

<div class="search-box">
	<form id="search-form">
		<div class="search-box__container">
			<div class="search-icon">
				<Search slot="prefix" size={12} aria-hidden />
			</div>

			<input
				type="text"
				name="search"
				id="search"
				data-post-filter-search=""
				spellcheck="false"
				autocomplete="off"
				placeholder="Search Posts"
			/>

			<div class="key">
				<CommandKey />
			</div>
		</div>
	</form>

	<Filter tags={tags} />
</div>

<script>
	//imports
	import DOMPurify from "dompurify"

	const form = document.querySelector("form")
	form?.addEventListener("submit", (event) => {
		event.preventDefault()

		const formData = new FormData(form)
		const searchTerm = DOMPurify.sanitize(
			formData.get("search")?.toString()
		)

		if (!searchTerm || searchTerm.length === 0) return

		const url = new URL("search/", window.location.origin)
		url.searchParams.set("q", searchTerm)
		window.location.assign(url.toString())
	})
</script>
