---
// lib
import { buildToc } from "@lib/generateToc"

export type Props = {
	pageHeadings: Array<{ depth: number; text: string; slug: string }>
}

const { pageHeadings } = Astro.props
const headings = buildToc(pageHeadings)
---

{
	headings.length && headings.length > 3 ? (
		<div class="post__toc" id="toc">
			<details>
				<summary accesskey="c" title="(Alt + c)">
					📚 On this page
				</summary>

				<div class="inner">
					<ul>
						{headings.map((heading) => {
							return (
								<li id="tocItem">
									{" "}
									<a
										href={`#${heading.slug}`}
										aria-label={heading.text}
									>
										{heading.text.replace("#", "")}
									</a>
									{heading.subheadings &&
										heading.subheadings.length > 0 && (
											<ul class="subheading">
												{heading.subheadings.map(
													(subheading) => (
														<li>
															<a
																href={`#${subheading.slug}`}
																aria-label={
																	subheading.text
																}
															>
																{subheading.text.replace(
																	"#",
																	""
																)}
															</a>
														</li>
													)
												)}
											</ul>
										)}
								</li>
							)
						})}
					</ul>
				</div>
			</details>
		</div>
	) : (
		""
	)
}

<style lang="scss">
	#toc {
		padding: 0.6rem;
		margin: 2.5rem 0.2rem;
		// background: var(--tertiary);
		border: 1px solid var(--border-color);
		border-radius: 0.4rem;

		// new bg (test)
		background-color: var(--tertiary);
		background-image: radial-gradient(
			circle farthest-corner at 0% 0%,
			#fff3,
			#ffffff1a
		);
		backdrop-filter: blur(160px);

		summary {
			cursor: zoom-out;
			margin-inline-start: 2rem;
		}

		.inner {
			margin: 0 2rem;
			padding: 1rem 2rem;

			@media all and (max-width: 640px) {
				margin: 0;
			}

			ul {
				list-style: none;
				line-height: 1.8;
				li {
					a {
						position: relative;
						color: var(--title);
						font-size: 18px;
						word-break: break-word;
						&:hover {
							text-decoration: underline;
						}
						&.active {
							color: var(--primary);
							font-weight: 600;
						}
						&::before {
							content: "";
							border-color: rgba(0, 0, 0, 0) var(--primary);
							border-style: solid;
							border-width: 0.35em 0 0.35em 0.45em;
							display: block;
							height: 0;
							width: 0;
							position: absolute;
							left: -1em;
							top: 0.2em;
						}
					}
				}
			}
			.subheading {
				margin-left: 2rem;
			}
		}
	}
</style>
