---
const code = {
	lang: "Python",
	value: `print("Hello world")`,
}
---

<div class="breezeWindow">
	<div class="breezeWindow__header">
		<span>{code.lang.split(":")[1]}</span>
		<img class="minimize" src="/icons/window_minimize.svg" alt="minimize" />
		<img class="maximize" src="/icons/window_maximize.svg" alt="maximize" />
		<img class="close" src="/icons/window_close.svg" alt="close" />
	</div>

	<div class="breezeWindow__body">
		<pre><code>{code.value}</code></pre>
		<!-- <a href="" class="breeze-button">Copy</a> -->
	</div>
</div>

<style lang="scss">
	.breezeWindow {
		position: relative;
		box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.75);
		border-radius: 2px;
		border: 1px solid var(--border-color);
		.breezeWindow__header {
			border-bottom: 1px solid var(--border-color);
			color: var(--text);

			padding: 10px;
			height: 30px;
			border-top-right-radius: 2px;
			border-top-left-radius: 2px;

			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				width: 22px;
				height: 22px;
				position: absolute;
				top: 4px;
				border-width: 0;
				&.minimize {
					top: 7px;
					width: 16px;
					height: 16px;
					right: 52px;
				}
				&.maximize {
					right: 30px;
					top: 7px;
					width: 16px;
					height: 16px;
				}
				&.close {
					right: 4px;
				}
			}
		}

		.breezeWindow__body {
			font-family: monospace;
			direction: ltr;

			font-size: 18px;
			@media all and (max-width: 768px) {
				font-size: 16px;
			}
			p {
				margin: 0;
			}
		}
	}

	.breeze-button {
		border: 1px solid var(--border-color);
		border-radius: 4px;
		color: var(--text);
		padding: 6px 12px;
		transition: all 0.1s linear;
		margin-top: 1rem;
		&:hover {
			border-color: #93cee9;
		}
	}
</style>
