---
const { code } = Astro.props

import "highlight.js/styles/atom-one-dark-reasonable.css"
// import '../../styles/prism/atom-one-dark-reasonable.css.css'
---

<div class="breezeWindow">
	<div class="breezeWindow__header">
		<span>{code.lang.split(":")[1]}</span>
		<img class="minimize" src="/icons/window_minimize.svg" alt="minimize" />
		<img class="maximize" src="/icons/window_maximize.svg" alt="maximize" />
		<img class="close" src="/icons/window_close.svg" alt="close" />
	</div>

	<div class="breezeWindow__body">
		<!-- <pre><code>{code.value}</code></pre> -->
		<p class="code">{code.value}</p>
		<!-- <br />
		<a href="" class="breeze-button">Copy</a> -->
	</div>
</div>

<style lang="scss">
	.breezeWindow {
		max-width: 100%;

		box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.75);
		border-radius: 2px;
		border: 1px solid var(--border-color);
		.breezeWindow__header {
			// background: #31363B;
			border-bottom: 1px solid var(--border-color);
			color: var(--text);

			padding: 10px;
			height: 30px;
			width: 100%;
			border-top-right-radius: 2px;
			border-top-left-radius: 2px;

			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				width: 22px;
				height: 22px;
				position: absolute;
				top: 4px;
				border-width: 0;
				&.minimize {
					top: 7px;
					width: 16px;
					height: 16px;
					right: 52px;
				}
				&.maximize {
					right: 30px;
					top: 7px;
					width: 16px;
					height: 16px;
				}
				&.close {
					right: 4px;
				}
			}
		}

		.breezeWindow__body {
			padding: 1.5rem;
			width: 100%;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			font-family: monospace;

			overflow-x: auto;
			p {
				margin: 0;
			}

			.code {
				font-size: 18px;
				white-space: pre;
				background: inherit;
			}
		}
	}

	.breeze-button {
		border: 1px solid var(--border-color);
		border-radius: 4px;
		color: var(--text);
		padding: 6px 12px;
		transition: all 0.1s linear;
		margin-top: 1rem;
		&:hover {
			border-color: #93cee9;
		}
	}
</style>

<script>
	import hljs from "highlight.js"

	document.addEventListener("DOMContentLoaded", (event) => {
		const nodes = document.querySelectorAll(
			".breezeWindow__body .code"
		) as NodeListOf<HTMLElement>

		nodes.forEach((node) => {
			hljs.highlightElement(node)
		})
	})
</script>
