---
import { Rss } from "lucide-astro"
---

<footer>
	<div class="wrapper">
		<div class="footer-content">
			<p>
				©{new Date().getFullYear()} Mohammed’s Blog - All Rights Reserved.
			</p>

			<ul class="nav">
				<li class="authRoute">
					<a href="/auth/login" aria-label="Login route">Login</a>
				</li>
				<li class="authRoute">
					<a href="/auth/signup" aria-label="Sign up route">Signup</a>
				</li>
				<li class="userRoute">
					<a href="/auth/user" aria-label="User profile">Profile</a>
				</li>
				<li class="userRoute" id="logout" aria-label="Option for logout">
					<span>Logout</span>
				</li>
				<li class="rssRoute">
					<a href="/rss.xml" class="rss-feed" aria-label="RSS feed of the site">
						<Rss size="16" />
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>

<style lang="scss">
	.footer-content {
		width: 100%;

		padding-top: 1.25rem;
		border-color: var(--border-color);
		border-top-width: 1px;
		border-top-style: solid;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: var(--gray);

		font-family: "8-bit_regular";
		p {
			font-size: 0.875rem;
			line-height: 1.25rem;
		}

		.nav {
			display: flex;
			align-items: center;
			gap: 0.5rem;

			li {
				display: none;
				&.rssRoute {
					display: block;
				}
				a,
				span {
					display: block;
					color: var(--gray);
					transition: all 0.2s ease;

					color: var(--gray);
					font-size: 14px;
					font-family: "Ubuntu", sans-serif;
					font-weight: 500;
					svg {
						margin-top: 0.4rem;
					}

					&:hover {
						color: var(--primary);
					}
				}
			}
		}
	}
</style>

<script>
	import { updateUserData, state } from "@lib/userState.ts"

	window.addEventListener("DOMContentLoaded", () => {
		const logoutBtn = document.querySelector<HTMLElement>("#logout")

		const { access_token } = state.userData

		if (access_token) {
			const userRoutes =
				document.querySelectorAll<HTMLElement>(".userRoute")

			userRoutes.forEach((userRoute) => {
				userRoute.style.display = "block"
			})
		} else {
			const authRoutes =
				document.querySelectorAll<HTMLElement>(".authRoute")

			authRoutes.forEach((authRoute) => {
				authRoute.style.display = "block"
			})
		}

		// logout user
		logoutBtn?.addEventListener("click", () => {
			updateUserData({ type: "LOGOUT" })

			window.location.reload()
		})
	})
</script>
