<footer>
	<div class="wrapper">
		<div class="footer-content">
			<p>
				©{new Date().getFullYear()} Mohammed’s Blog - All Rights Reserved.
			</p>

			<a href="/rss.xml" class="rss-feed">
				<span class="text">RSS Feed</span>
			</a>
		</div>
	</div>
</footer>

<style lang="scss">
	.footer-content {
		width: 100%;

		padding-top: 1.25rem;
		border-color: var(--border-color);
		border-top-width: 1px;
		border-top-style: solid;
		display: flex;
		flex-direction: column;
		color: var(--gray);

		font-family: "8-bit_regular";
		p {
			font-size: 0.875rem;
			line-height: 1.25rem;
		}
		a.rss-feed {
			display: inline-block;
			text-align: right;

			span.text {
				color: var(--gray);
				text-decoration: underline;
				text-decoration-color: var(--border-color);
				line-height: 1.25rem;
				&:hover {
					color: var(--primary);
				}
			}
		}
	}
</style>
