---
import { Rss } from "lucide-astro"
---

<footer>
	<div class="wrapper">
		<div class="footer-content">
			<p>
				©{new Date().getFullYear()} Mohammed’s Blog - All Rights Reserved.
			</p>

			<ul class="nav">
				<li>
					<a href="/auth/login/">Login</a>
				</li>
				<li>
					<a href="/auth/signup/">Signup</a>
				</li>
				<li>
					<a href="/rss.xml/" class="rss-feed">
						<Rss size="16" />
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>

<style lang="scss">
	.footer-content {
		width: 100%;

		padding-top: 1.25rem;
		border-color: var(--border-color);
		border-top-width: 1px;
		border-top-style: solid;
		display: flex;
		align-items: center;
		justify-content: space-between;
		// flex-direction: column;
		color: var(--gray);

		font-family: "8-bit_regular";
		p {
			font-size: 0.875rem;
			line-height: 1.25rem;
		}

		.nav {
			display: flex;
			align-items: center;
			gap: 0.5rem;

			a {
				display: block;
				color: var(--gray);
				transition: all 0.2s ease;

				color: var(--gray);
				font-size: 14px;
				font-family: "Ubuntu", sans-serif;
				font-weight: 500;
				svg {
					margin-top: 0.4rem;
				}

				&:hover {
					color: var(--primary);
				}
			}
		}
	}
</style>
