---
const { prevUrl, nextUrl } = Astro.props
---

<div class="pagination-container">
    {
        prevUrl && (
            <a href={nextUrl}>← Newer Posts</a>
        )
    }

    {
        nextUrl && (
            <a href={prevUrl}>Older Posts →</a>
        )
    }
</div>

<style lang="scss">
    .pagination-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        a {
            display: block;
            color: inherit;
            text-decoration: inherit;
        }
    }
</style>