---
import { ArrowUp } from "lucide-astro";
---

<button id="scrollTop" aria-label="Scroll to top">
  <ArrowUp size="16" />
</button>

<style lang="scss">
  button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    // border: 1px solid var(--border-color);

    position: fixed;
    right: 0.8rem;
    bottom: 0.8rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    pointer-events: none;
    &:hover {
      background: var(--secondary);
    }

    &.show {
      opacity: 1;
      pointer-events: initial;
    }
  }
</style>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const scrollTopBtn = document.getElementById("scrollTop");

    window.addEventListener("scroll", () => {
      let scrollTop =
        document.documentElement.scrollTop || document.body.scrollTop;

      if (scrollTop > 300) {
        scrollTopBtn.classList.add("show");
      } else {
        scrollTopBtn.classList.remove("show");
      }
    });

    scrollTopBtn.addEventListener("click", () => {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    });
  });
</script>
