---
import VideoPlayer from "@components/widgets/player/VideoPlayer.astro"
import Layout from "./Layout.astro"

const {
	title,
	description,
	pubDate,
	updatedDate,
	image,
	tags,
	liveDemo,
	sourceCode,
} = Astro.props
---

<Layout title={title} description={description} ogImageUrl={image}>
	<main class="wrapper">
		<article>
			<h1 class="section-title">{title}</h1>
			<div class="demo-content">
				<div class="demo">
					<VideoPlayer />
				</div>

				<slot />
			</div>
		</article>
	</main>
</Layout>

<style>
	.demo-content {
		line-height: 1.6;
		margin-top: 20px;
	}

	.demo {
		margin: 20px 0;
	}
</style>
