---
import Dock from "@components/common/Dock.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Lab</title>
	</head>
	<body>
		<slot />

		<Dock />
	</body>
</html>

<style lang="scss">
	body {
		// background: url(../assets/wall.jpg);
		background: url(../assets/noise.svg);
		background-repeat: no-repeat;
		flex-shrink: 0;
		background-position: 50%;
		background-size: cover;
		background-attachment: fixed;
		overflow: hidden;
		color: #fff;
	}
</style>
