<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KDE Plasma-Inspired Layout</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header class="top-bar">
      <div class="system-menu">
        <button id="menuButton">
          <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"
            ><g
              ><path
                d="m5.9999998-.00000914h36.0000012c3.323999 0 6.000001 2.67600674 6.000001 6.00000714v36c0 3.324001-2.676002 6.000008-6.000001 6.000008h-36.0000012c-3.3240001 0-6.00000022-2.676007-6.00000022-6.000008v-36c0-3.3240004 2.67600012-6.00000714 6.00000022-6.00000714z"
                fill="#1d99f3"></path><path
                d="m26.81721 6.0579518-5.977432.5722243v24.6132839l5.914217-.890396v-10.493982l7.94986 11.63921 6.232374-1.972015-8.140472-11.193509 8.204242-10.5576331-6.359358-1.46211-7.886507 10.5571941zm-13.549395 5.9978532c-.0675.0071-.132687.03685-.183377.08773l-2.346015 2.345604c-.09864.09893-.11722.252309-.0445.372086l2.746696 4.523795c-.487167.819006-.877623 1.70206-1.156683 2.633586l-5.0425552 1.048867c-.1402951.029055-.2413813.153367-.2413813.297337v3.317296c0 .140314.095983.261806.2311699.294475l4.8943156 1.196322c.260998 1.07887.665445 2.101628 1.199988 3.041644l-2.832973 4.319972c-.07904.120754-.06252.279776.0396.381468l2.345182 2.345604c.09864.09836.252621.117637.372908.04535l4.43931-2.696114c.872008.503187 1.812374.899183 2.806296 1.16772l1.035783 4.980041c.02915.141164.153885.241396.296928.241396h3.317709c.139477 0 .261191-.09524.294481-.232013l1.219994-4.990317c1.024557-.276502 1.993542-.688627 2.886878-1.21469l4.374709 2.868406c.120287.07923.279379.06335.38148-.03869l2.346016-2.34559c.09924-.09921.117013-.252607.04409-.372072l-1.597029-2.631956-.516676.163387c-.07532.02381-.157452-.0043-.201758-.06987 0 0-1.01864-1.491165-2.334206-3.41665-1.572715 3.077927-4.772331 5.186372-8.467241 5.186372-5.249568 0-9.505489-4.256079-9.505489-9.505904 0-3.861926 2.303503-7.183248 5.610236-8.671068v-2.452313c-.601827.210541-1.183648.464396-1.73624.765418-.000404-.000369-.000809-.0014-.0024-.0028l-4.477658-2.936763c-.0603-.0394-.130199-.05513-.197673-.04819z"
                fill="#fcfcfc"></path></g
            ></svg
          >
        </button>
        <div id="dropdown" class="dropdown-content">
          <a href="#">About This Computer</a>
          <a href="#">System Preferences...</a>
          <a href="#">App Store...</a>
          <a href="#">Force Quit...</a>
          <a href="#">Sleep</a>
          <a href="#">Restart...</a>
          <a href="#">Shut Down...</a>
          <a href="#">Lock Screen</a>
          <a href="#">Log Out</a>
        </div>
      </div>
      <div class="status-icons">
        <span>26°C</span>
        <span>🔋</span>
        <span>🕑 8:01 PM</span>
      </div>
    </header>

    <main class="main-content">
      <div class="overlay"></div>
      <img
        role="presentation"
        alt="gradient background"
        class="gradient-bg"
        src="/gradient.svg"
      />
      <div class="square-bg"></div>

      <div class="content">
        <div class="head">
          <h1>🧪 Personal Laboratory</h1>
          <p>Explore this space, where my coding experiments come to life.</p>
        </div>

        <slot />
      </div>
    </main>

    <div class="dock"></div>
  </body>
</html>

<script is:inline>
  document
    .getElementById("menuButton")
    .addEventListener("click", function (event) {
      event.stopPropagation();
      var dropdown = document.getElementById("dropdown");
      dropdown.style.display =
        dropdown.style.display === "block" ? "none" : "block";
    });

  document.addEventListener("click", function (event) {
    var dropdown = document.getElementById("dropdown");
    if (
      dropdown.style.display === "block" &&
      !dropdown.contains(event.target)
    ) {
      dropdown.style.display = "none";
    }
  });

  window.addEventListener("resize", function () {
    var dropdown = document.getElementById("dropdown");
    dropdown.style.display = "none";
  });
</script>

<style lang="scss" is:global>
  @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

  :root {
    --border-color: #262626;
    --selection-bg: hsl(240, 12%, 25%, 0.75);
    --title: #fff;
    --text: rgb(209 213 219/1);
  }

  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    // outline: 1px solid dodgerblue;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    background-color: #111;
    color: #fff;
  }

  ul,
  ol {
    list-style: none;
  }

  p {
    line-height: 1.8;
  }

  a {
    text-decoration: none;
    color: cyan;
  }

  .top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.1em 1em;
    font-size: 0.9em;
  }

  .system-menu {
    position: relative;
  }

  #menuButton {
    background: none;
    border: none;
    color: white;
    font-size: 1.25em;
    cursor: pointer;

    width: 20px;
    height: 20px;

    svg {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2a2a2a;
    min-width: 200px;
    max-width: 90vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: white;
    padding: 0.75em 1em;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #3a3a3a;
  }

  .status-icons {
    display: flex;
    gap: 1em;
  }

  .main-content {
    .overlay {
      position: fixed;
      inset: 0;
      background-color: rgb(94 234 212 / 1);
      transition-property:
        color, background-color, border-color, text-decoration-color, fill,
        stroke;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      transition-delay: 100ms;
      transition-duration: 700ms;
      opacity: 0.25;
    }

    .gradient-bg {
      position: fixed;
      inset: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }

    .square-bg {
      position: fixed;
      inset: 0;
      background: url("/square.svg");
      background-size: 30px;
      opacity: 0.3;
    }

    .content {
      position: relative;
      z-index: 2;

      padding: 5rem 0;
      max-width: 1100px;

      margin-inline: auto;

      @media all and (max-width: 1205px) {
        padding-inline: 1em;
      }

      .head {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;

        h1 {
          font-size: 3rem;
          line-height: 1.375;
          max-width: 48rem;
          text-align: center;
          margin-bottom: 0.6rem;
        }
      }
    }
  }

  .dock {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5em;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
  }

  @media screen and (max-width: 768px) {
    body {
      font-size: 14px;
    }

    .status-icons {
      margin-top: 0.5em;
    }

    .dock {
      width: 100%;
      border-radius: 0;
    }
  }

  @media screen and (max-width: 480px) {
    body {
      font-size: 12px;
    }

    .dropdown-content {
      min-width: 150px;
    }
  }
</style>
