---
import Header from '../components/common/Header.astro'
import Newsletter from '../components/common/Newsletter.astro'
import Footer from '../components/common/Footer.astro'


interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Newsletter />
		<Footer />
	</body>
</html>

<style is:global lang="scss">
	:root {
		--primary: rgb(15 23 42 / 1);
		--secondary: rgb(30 41 59 / 1);
		--tertiary: rgb(34 211 238 / 1);
		--text-color: rgb(243 244 246 / 1);
		--gray: rgb(156 163 175 / 1);
		--text-gradient: linear-gradient(to bottom right, #0ea5e9, #22d3ee, rgb(14 165 233 / 0));
		
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		color: var(--text-color);
		background-color: var(--primary);
		font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji"
	}

	ul, ol {
		list-style: none;
	}

	a {
		text-decoration: none;
		color: rgb(34 211 238 / 1);
	}

	.wrapper {
		padding: 1.5rem .75rem;

		max-width: 1024px;
		margin: 0 auto;
	}

	.section-title {
		font-weight: 700;
		font-size: 1.875rem;
		line-height: 2.25rem;
	}

	.section-sub-title {
		font-weight: 700;
		font-size: 1.5rem;
		line-height: 2rem;
		margin-bottom: 1.5rem;
	}

	// Tags color
	.astro, .Astro {
		background: #da62c4 !important;
		color: #fff !important;
	}

	.js, .javascript, .Javascript {
		background-color: #f0db4f !important;
		color: #12181a !important;
	}

	.react, .React {
		background-color: #61DBFB !important;
		color: #12181a !important;
	}

	.python, .py, .Python {
		background-color: #306998 !important;
		color: #fff !important;
	}

	.html, .HTML {
		background-color: #E34C26 !important;
		color: #12181a !important;
	}

	.css, .CSS {
		background-color: #2965f1 !important;
		color: #fff !important;
	}

	.scss, .SCSS, .sass, .SASS {
		background-color: #c69 !important;
		color: #12181a !important;
	}

	.node, .nodejs, .Nodejs, .NodeJs {
		background-color: #3c873a !important;
		color: #fff !important;
	}

	.django, .Django {
		color: #fff !important;
		background: #092e20 !important;
	}

	.postgresql, .postgres, .Postgres, .Postgresql {
		color: #fff !important;
		background: #31648c !important;
	}

	.blogger, .Blogger, .blog, .Blog {
		color: #092e20 !important;
		background: tomato !important;
	}
</style>
