---
import '../styles/fonts.scss'
import '../styles/tags.scss'

import Header from '../components/common/Header.astro'
import Newsletter from '../components/common/Newsletter.astro'
import Footer from '../components/common/Footer.astro'


interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Newsletter />
		<Footer />
	</body>
</html>

<style is:global lang="scss">
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
	
	:root {
		--primary: rgb(34 211 238 / 1); 
		--secondary: rgb(26, 26, 31);
		--tertiary: rgb(9, 10, 12);
		--title-text: rgb(218, 218, 219);
		--text-color: rgb(196, 196, 197);
		--gray: rgb(155, 156, 157);
		--border-color: rgb(51, 51, 51);
		--entry: rgb(46, 46, 51);
		--entry-text: #be4c39;

		--gradient-to: #22d3ee;
		--gradient-stops: #0ea5e9, var(--gradient-to, rgb(14 165 233 / 0));
		--text-gradient: linear-gradient(to bottom right,var(--gradient-stops));
		
		--accent: rgb(124, 58, 237);
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}

	*, *::before, *::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		color: var(--text-color);
		background-color: var(--tertiary);
		// font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
		font-family: 'Roboto Mono', monospace;
		// font-weight: 500;
	}

	ul, ol {
		list-style: none;
	}

	a {
		text-decoration: none;
		color: rgb(34 211 238 / 1);
	}

	p {
		line-height: 1.6;
	}

	.wrapper {
		padding: 1.5rem .75rem;

		max-width: 1024px;
		margin: 0 auto;
	}

	.section-title {
		font-weight: 700;
		font-size: 1.875rem;
		line-height: 2.25rem;
		color: var(--title-text);
		span {
			background-clip: text;
			-webkit-background-clip: text;
			color: transparent;
			background: var(--text-gradient);
		}
	}

	.section-sub-title {
		font-weight: 700;
		font-size: 1.5rem;
		line-height: 2rem;
		margin-bottom: 1.5rem;
		color: var(--title-text);
		span {
			background-clip: text;
			-webkit-background-clip: text;
			color: transparent;
			background: var(--text-gradient);
		}
	}
</style>
